SimpleSocialNetwork.Sandbox/Service References/CommentServiceReference/CommentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="0" name="AuthorLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDto" nillable="true" type="tns:CommentDto" />
  <xs:complexType name="ArrayOfCommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDto" nillable="true" type="tns:CommentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDto" nillable="true" type="tns:ArrayOfCommentDto" />
</xs:schema>