SimpleSocialNetwork.Sandbox/Service References/CommentServiceReference/CommentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50081/Concrete/CommentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50081/Concrete/CommentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50081/Concrete/CommentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommentService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICommentService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ICommentService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ICommentService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetByPostId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByPostId" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetByPostId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByPostIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCount" />
  </wsdl:message>
  <wsdl:message name="ICommentService_GetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommentService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/Add" message="tns:ICommentService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/AddResponse" message="tns:ICommentService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/Remove" message="tns:ICommentService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/RemoveResponse" message="tns:ICommentService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/Update" message="tns:ICommentService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/UpdateResponse" message="tns:ICommentService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/GetById" message="tns:ICommentService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/GetByIdResponse" message="tns:ICommentService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/GetAll" message="tns:ICommentService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/GetAllResponse" message="tns:ICommentService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByPostId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/GetByPostId" message="tns:ICommentService_GetByPostId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/GetByPostIdResponse" message="tns:ICommentService_GetByPostId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/GetCount" message="tns:ICommentService_GetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/GetCountResponse" message="tns:ICommentService_GetCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommentService" type="tns:ICommentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Comment_CommentDto/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByPostId">
      <soap:operation soapAction="http://tempuri.org/ICommentService/GetByPostId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCount">
      <soap:operation soapAction="http://tempuri.org/ICommentService/GetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentService">
    <wsdl:port name="BasicHttpBinding_ICommentService" binding="tns:BasicHttpBinding_ICommentService">
      <soap:address location="http://localhost:50081/Concrete/CommentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>