SimpleSocialNetwork.WebUI/Service References/FriendServiceReference/FriendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FriendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50081/Concrete/FriendService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50081/Concrete/FriendService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50081/Concrete/FriendService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" />
      <xsd:import schemaLocation="http://localhost:50081/Concrete/FriendService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IFriendService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IFriendService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IFriendService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_IsFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:IsFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendService_IsFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriendsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsByUserId" />
  </wsdl:message>
  <wsdl:message name="IFriendService_GetFriendsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_RemoveFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendship" />
  </wsdl:message>
  <wsdl:message name="IFriendService_RemoveFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendshipResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendService_AddFriendship_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendship" />
  </wsdl:message>
  <wsdl:message name="IFriendService_AddFriendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFriendshipResponse" />
  </wsdl:message>
  <wsdl:portType name="IFriendService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/Add" message="tns:IFriendService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/AddResponse" message="tns:IFriendService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/Remove" message="tns:IFriendService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/RemoveResponse" message="tns:IFriendService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/Update" message="tns:IFriendService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/UpdateResponse" message="tns:IFriendService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/GetById" message="tns:IFriendService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/GetByIdResponse" message="tns:IFriendService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/GetAll" message="tns:IFriendService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/GetAllResponse" message="tns:IFriendService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/IsFriends" message="tns:IFriendService_IsFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/IsFriendsResponse" message="tns:IFriendService_IsFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/GetFriendsByUserId" message="tns:IFriendService_GetFriendsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/GetFriendsByUserIdResponse" message="tns:IFriendService_GetFriendsByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/RemoveFriendship" message="tns:IFriendService_RemoveFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/RemoveFriendshipResponse" message="tns:IFriendService_RemoveFriendship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFriendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendService/AddFriendship" message="tns:IFriendService_AddFriendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendService/AddFriendshipResponse" message="tns:IFriendService_AddFriendship_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFriendService" type="tns:IFriendService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Friend_FriendDto/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFriends">
      <soap:operation soapAction="http://tempuri.org/IFriendService/IsFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsByUserId">
      <soap:operation soapAction="http://tempuri.org/IFriendService/GetFriendsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriendship">
      <soap:operation soapAction="http://tempuri.org/IFriendService/RemoveFriendship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFriendship">
      <soap:operation soapAction="http://tempuri.org/IFriendService/AddFriendship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendService">
    <wsdl:port name="BasicHttpBinding_IFriendService" binding="tns:BasicHttpBinding_IFriendService">
      <soap:address location="http://localhost:50081/Concrete/FriendService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>