SimpleSocialNetwork.WebUI/Service References/FriendServiceReference/FriendService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50081/Concrete/FriendService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:50081/Concrete/FriendService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.Domain" />
  <xs:complexType name="FriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SecondUserId" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDto" />
      <xs:element minOccurs="0" name="User1" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDto" nillable="true" type="tns:FriendDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageMimeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:LocationDto" />
      <xs:element minOccurs="0" name="LocationId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Password" type="ser:guid" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posts" nillable="true" type="tns:ArrayOfPostDto" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.Domain" minOccurs="0" name="Role" nillable="true" type="q1:Role" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="Skype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="LocationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDto" nillable="true" type="tns:LocationDto" />
  <xs:complexType name="ArrayOfPostDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostDto" nillable="true" type="tns:PostDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostDto" nillable="true" type="tns:ArrayOfPostDto" />
  <xs:complexType name="PostDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfCommentDto" />
      <xs:element minOccurs="0" name="DatePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostDto" nillable="true" type="tns:PostDto" />
  <xs:complexType name="ArrayOfCommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDto" nillable="true" type="tns:CommentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDto" nillable="true" type="tns:ArrayOfCommentDto" />
  <xs:complexType name="CommentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="0" name="DatePosted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDto" nillable="true" type="tns:CommentDto" />
  <xs:complexType name="ArrayOfFriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDto" nillable="true" type="tns:FriendDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDto" nillable="true" type="tns:ArrayOfFriendDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
</xs:schema>