SimpleSocialNetwork.WebUI/Service References/LocationServiceReference/LocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LocationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vm02wsih.cloudapp.net/Concrete/LocationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vm02wsih.cloudapp.net/Concrete/LocationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vm02wsih.cloudapp.net/Concrete/LocationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" />
      <xsd:import schemaLocation="http://vm02wsih.cloudapp.net/Concrete/LocationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILocationService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ILocationService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_RemoveById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveById" />
  </wsdl:message>
  <wsdl:message name="ILocationService_RemoveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILocationService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationsByCityTerm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsByCityTerm" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetLocationsByCityTerm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsByCityTermResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetRegionsByCountryName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionsByCountryName" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetRegionsByCountryName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionsByCountryNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetCitiesByRegionName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesByRegionName" />
  </wsdl:message>
  <wsdl:message name="ILocationService_GetCitiesByRegionName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesByRegionNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/Add" message="tns:ILocationService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/AddResponse" message="tns:ILocationService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/Remove" message="tns:ILocationService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/RemoveResponse" message="tns:ILocationService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/RemoveById" message="tns:ILocationService_RemoveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/RemoveByIdResponse" message="tns:ILocationService_RemoveById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/Update" message="tns:ILocationService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/UpdateResponse" message="tns:ILocationService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/GetById" message="tns:ILocationService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/GetByIdResponse" message="tns:ILocationService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/GetAll" message="tns:ILocationService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Location_LocationDto/GetAllResponse" message="tns:ILocationService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByCityTerm">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetLocationsByCityTerm" message="tns:ILocationService_GetLocationsByCityTerm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetLocationsByCityTermResponse" message="tns:ILocationService_GetLocationsByCityTerm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetCountries" message="tns:ILocationService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetCountriesResponse" message="tns:ILocationService_GetCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByCountryName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetRegionsByCountryName" message="tns:ILocationService_GetRegionsByCountryName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetRegionsByCountryNameResponse" message="tns:ILocationService_GetRegionsByCountryName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCitiesByRegionName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILocationService/GetCitiesByRegionName" message="tns:ILocationService_GetCitiesByRegionName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILocationService/GetCitiesByRegionNameResponse" message="tns:ILocationService_GetCitiesByRegionName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocationService" type="tns:ILocationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Location_LocationDto/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Location_LocationDto/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Location_LocationDto/RemoveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Location_LocationDto/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Location_LocationDto/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Location_LocationDto/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByCityTerm">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetLocationsByCityTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByCountryName">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetRegionsByCountryName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesByRegionName">
      <soap:operation soapAction="http://tempuri.org/ILocationService/GetCitiesByRegionName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationService">
    <wsdl:port name="BasicHttpBinding_ILocationService" binding="tns:BasicHttpBinding_ILocationService">
      <soap:address location="http://vm02wsih.cloudapp.net/Concrete/LocationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>