SimpleSocialNetwork.WebUI/Service References/MessageServiceReference/MessageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vm02wsih.cloudapp.net/Concrete/MessageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vm02wsih.cloudapp.net/Concrete/MessageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vm02wsih.cloudapp.net/Concrete/MessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_RemoveById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveById" />
  </wsdl:message>
  <wsdl:message name="IMessageService_RemoveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IMessageService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetChatHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatHistory" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetChatHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetConversations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConversations" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetConversations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConversationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/Add" message="tns:IMessageService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/AddResponse" message="tns:IMessageService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/Remove" message="tns:IMessageService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/RemoveResponse" message="tns:IMessageService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/RemoveById" message="tns:IMessageService_RemoveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/RemoveByIdResponse" message="tns:IMessageService_RemoveById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/Update" message="tns:IMessageService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/UpdateResponse" message="tns:IMessageService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/GetById" message="tns:IMessageService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/GetByIdResponse" message="tns:IMessageService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/GetAll" message="tns:IMessageService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceOf_Message_MessageDto/GetAllResponse" message="tns:IMessageService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetChatHistory" message="tns:IMessageService_GetChatHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetChatHistoryResponse" message="tns:IMessageService_GetChatHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConversations">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetConversations" message="tns:IMessageService_GetConversations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetConversationsResponse" message="tns:IMessageService_GetConversations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageService" type="tns:IMessageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Message_MessageDto/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Message_MessageDto/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveById">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Message_MessageDto/RemoveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Message_MessageDto/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Message_MessageDto/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceOf_Message_MessageDto/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatHistory">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetChatHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConversations">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetConversations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <wsdl:port name="BasicHttpBinding_IMessageService" binding="tns:BasicHttpBinding_IMessageService">
      <soap:address location="http://vm02wsih.cloudapp.net/Concrete/MessageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>