SimpleSocialNetwork.WebUI/Service References/MessageServiceReference/MessageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateSent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FromUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MsgText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToUserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageDto" nillable="true" type="tns:MessageDto" />
  <xs:complexType name="ArrayOfMessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageDto" nillable="true" type="tns:MessageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageDto" nillable="true" type="tns:ArrayOfMessageDto" />
</xs:schema>