SimpleSocialNetwork.WebUI/Service References/MessageServiceReference/MessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50081/Concrete/MessageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" minOccurs="0" name="entity" nillable="true" type="q1:MessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" minOccurs="0" name="entity" nillable="true" type="q2:MessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" minOccurs="0" name="entity" nillable="true" type="q3:MessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" minOccurs="0" name="GetByIdResult" nillable="true" type="q4:MessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" minOccurs="0" name="GetAllResult" nillable="true" type="q5:ArrayOfMessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUserId" type="xs:int" />
        <xs:element minOccurs="0" name="toUserId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" minOccurs="0" name="GetChatHistoryResult" nillable="true" type="q6:ArrayOfMessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConversations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConversationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SimpleSocialNetwork.BusinessServices" minOccurs="0" name="GetConversationsResult" nillable="true" type="q7:ArrayOfMessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>